.font-courier {
    font-family: 'Courier New', Courier, monospace;
}

p.text-background > span {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

div > p.text-background > span {
    background-color: yellow;
}

span span {
    background-color: gray;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-shadow: 3px 3px 5px maroon;
    text-indent: 50px;
}

li ul {
    list-style: url(/img/li.svg);
}

div > p.text-background {
    word-spacing: 50px;
}

.text-bold > p {
    font-weight: bold;
}

.text-bold > section > p {
    line-height: 45px;
}

img + p {
    background-color: brown;
}

section ~ p {
    color: red;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: left;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    word-spacing: normal;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(230, 230, 230);
}

.nav-item:hover {
    transform: scale(1.08);
    transition: 1s;
}

.nav-link:hover {
    opacity: 0.7;
}