body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

div {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Виділення вихідних */
th:nth-child(6),
th:nth-child(7),
td:nth-child(6),
td:nth-child(7) {
    color: red;
}

.calendar-display {
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 0 0 15px 0;
}