body {
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: right;
    width: 100%;
}

/* Logo */
.logo {
    font-weight: 900;
    color: black;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 100px;
    padding: 0;
}

.logo:hover {
    transition: .2s;
    color: #2196F3;
}

.logo > span {
    font-weight: 900;
}

.col-blue {
    color: #2196F3;
}

/* Navigation */
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-right: 100px;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-link:hover {
    transition: .2s;
    color: #2196F3;
}

.active {
    color: #2196F3;
}

/* Support */

.supp-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    list-style: none;
}

.supp-link {
    text-decoration: none;
    color: black;
}

.supp-link:hover {
    transition: .2s;
    color: #2196F3;
}

/* Main */
.main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(89vh - 1px);
    background-color: #2F303A;
}

.global-info {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
}

/* Task - 1 */

.main1 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 107px);
}

.container1 {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

.main-info1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

.list {
    list-style-position: inside;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.rule {
    background-image: url('/img/rule.svg');
    background-position: 3px 5px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 0 40px 0px;
    margin-bottom: 10px;
    background-color: rgb(103, 158, 128);
}

.list2 {
    font-size: 18px;
    font-style: italic;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list2 > li {
    background-color: rgb(153, 180, 102);
}

.units {
    background-image: url('/img/ad_units.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.ticket {
    background-image: url('/img/airplane_ticket.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.hotel {
    background-image: url('/img/hotel.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.car {
    background-image: url('/img/car_rental.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.ticket > span {
    margin-left: 5px;
}

.hotel > span {
    margin-left: 5px;
}

.bar {
    background-image: url('/img/local_bar.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.casino {
    background-image: url('/img/casino.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.museum {
    background-image: url('/img/museum.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.festival {
    background-image: url('/img/festival.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.list-info1 {
    padding: 10px 20px;
    display: inline-block;
}

.rule > span {
    font-size: 20px;
    font-weight: 700 bold;
    background-color: rgb(199, 124, 106);
    margin: 0 0 0 5px;
}

.list2 span {
    background-color: rgb(218, 106, 32);
    padding: 20px;
    font-weight: 600;
}

/* Task - 2 */

.main2 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 107px);
}

table {
    font-weight: 500;
}

td {
    width: 200px;
    height: 100px;
    margin: 0 5px 5px 0;
    font-size: 20px;
}

td span {
    display: grid;
    justify-content: center;
}

tr:nth-of-type(1) td:first-child{
    color: white;
    padding: 10px;
    margin: 0 5px 5px 0;
    background-color: #f2dbdb;
}

tr:nth-of-type(1) td:nth-child(2) {
    color: white;
    padding: 10px;
    margin: 0 5px 5px 0;
    background-color: #e5b8b7;
}

tr:nth-of-type(1) td:nth-child(3) {
    color: white;
    padding: 10px;
    margin: 0 5px 5px 0;
    background-color: #d99594;
}

tr:nth-of-type(1) td:nth-child(4) {
    color: white;
    padding: 10px;
    margin: 0 5px 5px 0;
    background-color: #943634;
}

tr:nth-of-type(1) td:nth-child(5) {
    color: white;
    padding: 10px;
    margin: 0 5px 5px 0;
    background-color: #632423;
}

td:nth-of-type(1) {
    color: white;
    background-color: #c0504d;
}

tr:nth-of-type(2) td:nth-child(2),
tr:nth-of-type(2) td:nth-child(3),
tr:nth-of-type(2) td:nth-child(4),
tr:nth-of-type(2) td:nth-child(5),
tr:nth-of-type(4) td:nth-child(2),
tr:nth-of-type(4) td:nth-child(3),
tr:nth-of-type(4) td:nth-child(4),
tr:nth-of-type(4) td:nth-child(5),
tr:nth-of-type(6) td:nth-child(2),
tr:nth-of-type(6) td:nth-child(3),
tr:nth-of-type(6) td:nth-child(4),
tr:nth-of-type(6) td:nth-child(5) {
    background-color: #e5b8b7;
    font-size: 35px;
    font-weight: 400;
}

tr:nth-of-type(3) td:nth-child(2),
tr:nth-of-type(3) td:nth-child(3),
tr:nth-of-type(3) td:nth-child(4),
tr:nth-of-type(3) td:nth-child(5),
tr:nth-of-type(5) td:nth-child(2),
tr:nth-of-type(5) td:nth-child(3),
tr:nth-of-type(5) td:nth-child(4),
tr:nth-of-type(5) td:nth-child(5) {
    background-color: #f2dbdb;
    font-size: 35px;
    font-weight: 400;
}

/* Task - 3 */
.main3 {
    background-color: #e5b8b7;
    padding: 50px;
}

.form {
    display: grid;
    justify-content: center;
    color: white;
}

.main-fieldset {
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: #2F303A;
}

.main-legend {
    text-align: center;
    font-size: 22px;
}

.data-fieldset {
    padding: 20px;
    border-radius: 10px;
}

.data-fieldset:first-of-type {
    background: #2196F3;
}

.data-fieldset:nth-of-type(2) {
    background: #d99594;
}

.data-fieldset:last-of-type {
    background: #943634;
}


.data-fieldset * {
    margin: 5px;
}