.font-courier {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    justify-content: center;
    text-align: center;
}

.main-header {
    font-size: 65px;
    color: red;
    margin-bottom: 0;
}

.second-header {
    font-style: italic;
    font-size: 32px;
    margin-bottom: 5px;
}

.bg-yellow {
    background: yellow;
}

.cook-list {
    list-style: none;
}

.cook-item > p {
    font-size: 20px;
}

.txt-underline {
    text-decoration: underline;
}

.txt-crossed {
    text-decoration: line-through;
}

.txt-italic {
    font-style: italic;
}

.txt-bold {
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: left;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    word-spacing: normal;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(230, 230, 230);
}

.nav-item:hover {
    transform: scale(1.08);
    transition: 1s;
}

.nav-link:hover {
    opacity: 0.7;
}